<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="q.autocross">
  <resultMap id="personMap" type="q.autocross.engine.Person">
    <result property="clubId" column="club_id"/>
    <result property="personId" column="person_id"/>
    <result property="firstName" column="first_name"/>
    <result property="lastName" column="last_name"/>
    <result property="primaryNumber" column="primary_number"/>
    <result property="emailHash" column="email_hash"/>
  </resultMap>


  <select id="selectPerson" resultMap="personMap">
    select * from Person where person_id = #{id}
  </select>
  
  <select id="selectPersonByName" resultMap="personMap">
    select * from Person where first_name= #{firstName}
    and last_name=#{lastName}
  </select>
  
  <select id="selectPersonByEmail" resultMap="personMap">
    select * from Person where email_hash=#{emailHash}
  </select>
  
  <delete id="cleanSessionData">
    delete from session_data where updated &lt; now()- interval '12 hour' 
  </select>
  
  <select id="getData">
  	select data from session where id = #{id}
  </select>
  
</mapper>
